Q1))

In [3]:
l=[("sachin tendulkar",34357),("Ricky ponting",27483),("jack kalish",25534),("virat kohli",24936)]
l.sort(key=lambda x:x[1])
l

[('virat kohli', 24936),
 ('jack kalish', 25534),
 ('Ricky ponting', 27483),
 ('sachin tendulkar', 34357)]

Q2))

In [4]:
l2=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x**2,l2))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3))

In [15]:
l3=[1,2,3,4,5,6,7,8,9,10]
y=tuple(map(lambda x:str(x),l3))
y

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4))

In [18]:
from functools import reduce
l4=list(range(1,26))
def product_function(x,y):
    return x*y
reduce(product_function,l4)

15511210043330985984000000

Q5))

In [28]:
list(filter(lambda x:(x%2==0 and x%3==0),[2,3,6,27,60,90,120,55,46]))

[6, 60, 90, 120]

Q6))

In [39]:
l6=['python','php','aba','radar','level']
i=0
list(filter(lambda x:list(x)==list(x).reverse(),l6))

[]